.productos-banner {
    background-size: cover; /* Hace que la imagen cubra todo el área del banner */
    background-position: center; /* Centra la imagen */
    height: 140px; /* Ajusta la altura del banner según tus necesidades */
    width: 100%; /* Asegura que ocupe todo el ancho */
    display: flex;
    justify-content: center; /* Centra el texto dentro del banner */
    align-items: center; /* Centra el texto verticalmente */
  }
  
  .productos-banner-text {
    text-align: center;
    color: white;
    font-size: 3rem; /* Ajusta el tamaño de la fuente */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  }
  .productos-banner h1 {
    font-size: 3rem; /* Ajusta el tamaño del texto */
    font-weight: bold;
    color: white; /* El color blanco para el texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Añadir sombra al texto */
  }
  
  /* Estilo opcional para el contenido de la página */
  .productos-content {
    padding: 20px;
  }
 
  .producto-list ul {
    list-style-type: disc !important; /* Muestra los puntos (viñetas) */
    padding-left: 20px;               /* Alinea los puntos a la izquierda */
  }

  .producto-list li {
  margin-bottom: 8px; /* Espaciado entre los ítems */
}

