*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  line-height: 1.52;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

h1 {
  font-size: 3.2rem;
}

::-webkit-scrollbar {
  width: 0rem;
}

body {
  background-color: #f6f6f6;
  
}

.circle-background {
  position: absolute;
  top: 95%; /* Ajusta según sea necesario */
  left: 0; /* Ajusta según sea necesario */
  /* O ajusta según el tamaño necesario */
  height: auto; /* O ajusta según el tamaño necesario */
  overflow: hidden;
  z-index: -1;
}

.circle-background svg {
  width: 60vh;
  height: 140vh;
}

circle {
  stroke: rgb(182, 182, 182) !important; /* Usa !important si es necesario */
}

.text-orange {
  color: #ff8945;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

@media (min-width: 1440px) {
  html {
    zoom: 1.5;
  }
}

@media (min-width: 2560px) {
  html {
    zoom: 1.7;
  }
}

@media (min-width: 3860px) {
  html {
    zoom: 2.5;
  }
}

header {
  background-image: url("./assets/res-1.png");
  background-repeat: no-repeat; /*no repite la imagen*/
  background-size: cover;
  color: white;
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

header h1 {
  font-size: 4.5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.titulo-con-borde span {
  color: #ffa500;
}

@media all and (max-width: 768px) {
  header {
    padding-left: 40px;
    padding-right: 40px;
  }

  header h1 {
    font-size: 2rem; /* Tamaño ajustado para pantallas más pequeñas */
  }
}

.hidden {
  visibility: hidden;
}

.borde {
  max-width: 992px;
  margin-left: auto;
  margin-right: auto; /*con margin left y right se centra el div, es decir, la caja */
  text-align: center;
  padding-bottom: 80px;
  padding-top: 80px; /*los padding top y bottom ajusta el centro del texto dentro del div*/
}

.borde h5 {
  font-size: 50px;
}

@media all and (max-width: 768px) {
  .borde h5 {
    font-size: 40px;
  }
}

.transparencia {
  opacity: 0.5;
}

.btn-success {
  background-color: #00cc99;
  border-color: #00cc99;
  padding: 15px;
  border-radius: 20px 0px 20px 0px;
  color: white;
  font-size: 15px;
}

.btn-success:hover {
  background-color: #02aa80;
  border-color: #02aa80;
}

.linea-separadora {
  border: 0;
  height: 2px;
  width: 20%;
  background: linear-gradient(
    to right,
    #ff7e5f,
    #feb47b
  ); /* Degradado de colores */
  margin: 40px auto; /* Espacio arriba y abajo */
}

#carouselExampleIndicators {
  height: 300px; /* Ajusta esta altura según el contenido del carrusel */
  overflow: hidden; /* Oculta cualquier contenido que se desborde */
}

.carousel-indicators {
  position: relative;
  top: 20px; /* Ajusta este valor según sea necesario */
}

.carousel-indicators [data-bs-target] {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: gray;
}

.carousel-indicators .active {
  background-color: #00cc99;
}

.card {
  border: none;
}

.swiper_container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  position: relative;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}
.slide-contenido {
  text-align: center;
  padding: 3rem;
}

.slide-titulo {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.slide-imagen {
  width: 28rem;
  height: 40rem;
  border-radius: 2rem;
  object-fit: cover;
  margin-bottom: 3rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1),
    /* Sombras laterales suaves */ 0 8px 15px rgba(0, 0, 0, 0.2),
    /* Sombra intermedia */ 0 15px 25px rgba(0, 0, 0, 0.3),
    /* Sombra más intensa */ 0 30px 10px -10px rgba(0, 0, 0, 0.5); /* Sombra simulando la base */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.slide-imagen:hover {
  transform: translateY(-10px); /* Levanta la tarjeta */
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1), 0 15px 20px rgba(0, 0, 0, 0.2),
    0 25px 35px rgba(0, 0, 0, 0.3), 0 35px 15px -10px rgba(0, 0, 0, 0.5); /* Intensifica la sombra de la base */
}

.slide-descripcion {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 3rem;
}

.slider-controler {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  z-index: 10;
}

.swiper-pagination {
  z-index: 10;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 1.8rem;
  height: 1.8rem;
  background-color: #ccc; /* Color de fondo por defecto */
  opacity: 1; /* Asegura que los círculos siempre sean visibles */
  transition: background-color 0.3s ease;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background-color: #00cc99;
  width: 1.9rem;
  height: 1.9rem;
}

.fondo-footer {
  background-image: url("./assets/footer.png");
  background-size: cover;
  color: white;
  max-height: auto;
}

.fondo {
  background-color: #cc6633;
  color: #f6f6f6;
  padding-top: 3rem;
  padding-bottom: 3rem;
  z-index: -1;
}

.icono {
  font-size: 50px;
  margin-right: 10px;
}

.icono:last-child {
  margin-right: 0;
}

.img-footer {
  background-image: url("./assets/9.png");
  background-color: #3d281b;
  background-position: center;
  background-size: cover;
  min-height: 200px;
  margin: 0;
  padding: 20px 0;
}

.social-icono {
  color: white;
}

.parallax-section {
  background-image: url("./assets/por-2.png"); /* Reemplaza con tu imagen */
  min-height: 24vh;
  background-attachment: fixed; /* Parallax básico */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax-section h2 {
  font-size: 2.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

@media all and (max-width: 768px) {
  .parallax-section h2 {
    font-size: 2rem;
  }
}

.custom-card-image {
  width: 75%;
  max-width: 100%; /* Asegura que la imagen no se haga más grande que el 70% */
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 10px; /* Separación entre la tarjeta de imagen y la de texto */
  position: relative; /* Necesario para posicionar el texto sobre la imagen */
  margin: 0 auto; /* Centra la imagen en su columna */
}

.custom-card-image img {
  width: 100%;
  height: 190px; /* Ajuste de la altura */
  object-fit: cover;
  border-radius: 1rem; /* Bordes redondeados */
}

/* Efecto 3D para la tarjeta de la imagen al pasar el mouse */
.custom-card-image:hover {
  transform: translateY(-5px); /* Desplazamiento hacia arriba */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4); /* Sombra más intensa */
}

/* Estilo para el texto dentro de la imagen */
.overlay-text {
  position: absolute;
  top: 50%; /* Centrado vertical */
  left: 50%; /* Centrado horizontal */
  transform: translate(-50%, -50%); /* Ajuste para centrar completamente */
  color: white;
  font-size: 1.6rem; /* Tamaño de fuente más grande */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Sombra de texto sutil para mayor legibilidad */
  font-weight: bold;
  text-align: center;
  z-index: 1; /* Asegura que el texto esté por encima de la imagen */
}

/* Estilos para la tarjeta de texto */
.custom-card-text {
  max-width: 75%; /* Asegura que la tarjeta de texto no se haga más grande que el 70% */  
  background-color: #f6f6f6; /* Fondo del texto */
  border-radius: 1rem 1rem 3rem 3rem; /* Bordes redondeados */
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil en la parte inferior */
  padding: 1rem; /* Espaciado dentro de la tarjeta de texto */
  margin: 0 auto; /* Centra la tarjeta de texto */
}

.custom-card-text .card-content {
  text-align: center;
}

.custom-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card:hover {
  transform: translateY(-10px) rotateX(5deg) rotateY(5deg);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}

